OPENAI_API_KEY=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
AWS_REGION=us-east-1
MODEL_NAME=gpt-4o-mini
APP_NAME=agentic_trader